.a{
    /* border:1px solid black; */
    height:50px;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    font-size: 18px;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}
.sub{
    display:flex;
    flex-direction: row;
    /* width:250px;
    border:1px solid blue; */
}
#place,.one{
    width:230px;
    height:36px;
    border-style:none;
}


.vertic {
    border-left: 2px solid grey;
    height: 25px;
}

.verti{
    border-left: 2px solid gray;
    height:40px;
}

.one-1{
    color:black;
    width:200px;
    height:40px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    /*border:1px solid black;*/
    padding-top: 0;
    font-size: 15px;
}
.i{
    width:30px;
    height:29px;
}
.sty{
    text-decoration: none;
    color:black;
}

.one{
    height:40px;
   /* border:1px solid black;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}
.two,src{
    margin:0;
    width:200px;
    height:25px;
    
    align-items: center;
    margin-bottom: 5px;
}



.b{
    width:100%;
    height:50px;
    /* border:1px solid black; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: sticky;
    top: 0;
    background-color: #FFFFFF; */
}
.se{
    width:150px;
    height:50px;
    display:flex;
    flex-direction: row;
    margin-left:10px;
    justify-content: center;
}

.sec{
    text-decoration: none;
    color:black;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    
    justify-content: center;
    font-size: 17px;
}

.sec:hover{
    color:rgb(211, 0, 169);
}
.sty:hover{
    color:rgb(211, 0, 169); 
}

.i1{
  width:73%;
  height:380px;
  display:flex;
  flex-direction: row;
  margin-left: 200px;
  margin-top: 17px;
  margin-right: 100px;
  border:1px solid black;
}
.i1-1{
    width:52%;
    height:380px;
    border:1px solid green;
    background-color:lavender;
}
.i1-2{
    width:48%;
    height:380px;
    max-width: 100%;
    max-height: 100%;
    background-image: url("https://images.meesho.com/images/marketing/1728882602080_512.webp");
    background-image: image-set(100%);
    border:1px solid green;
    /* background-color:bisque; */
}



.i1-11{
    height:130px;
    /* background-color:darkgrey; */
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 50px;
    font-size: 45px;
}

.i1-12{
    height:60px;
    border:1px solid black;
    background-color: darkseagreen;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
}
.i-12-main{
   display:flex;
   flex-direction: row;
   margin-left:3px;
}

.i-12-s1{
    height:50px;
    width:40px;
    margin-left: 5px;
    margin-top:5px;
}
.i-12-s1,a{
    color:black;
    margin-left: 5px;
    text-decoration: none;
}
.i-12-s2{
    height:50px;
    width:40px;
    margin-left: 35px;
    margin-top:5px;
}
.i-12-s2,a{
    color:black;
    margin-left: 5px;
    text-decoration: none;
    text-align: center;
}
.i-12-s3{
    height:50px;
    width:40px;
    margin-left: 35px;
    margin-top:5px;
}
.i-12-s3,a{
    color:black;
    margin-left: 5px;
    text-decoration: none;
    text-align: center;
}

.i1-13{
    height:50px;
    width:auto;
    background-color:mediumvioletred;
    margin-left: 50px;
    margin-right:200px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.i-13-s1{
    height:30px;
    width:30px;
    margin-top: 10px;
    margin-left: 20px;
   
}

.i-13-s2,h3{
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 0px;
    justify-content: center;
}

.cut{
    width:1000px;
    margin-top: 15px;
    
}
.cut-1{
    font-size: 40px;
    margin-top: 10px;
}
.cut-1-b{
    width:auto;
    /*border:1px solid black;*/
    color:chocolate;
    justify-content: center;
    margin-left: 500px;
    margin-right: 10px;
    display: flex;
    -ms-flex-align: center;
    margin-top:0;
}

.i2-1{
    background-image: url("https://images.meesho.com/images/marketing/1726468570178_1200.webp");
    width:73%;
    margin-top: 20px;
    margin-left: 200px;
    height:500px;
    /*justify-content: center;*/
    display:flex;
    flex-direction: row;
}
.i2-12{
    width:570px;
    height:300px;
    margin-top: 180px;
    margin-right:80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.i2-11{
    width:320px;
    height:450px;
    margin-left:15px;
    margin-top: 30px;
    margin-right: 80px;
}
.i2-image-1{
    width:320px;
    height:450px;
    border-radius: 5px;
}
.i2-image-2{
    width:270px;
    height:300px;
    
}
.i3{
    width:73%;
    height:500px;
    box-sizing: border-box;
    margin-left: 200px;
    margin-top: 40px;
    display:flex;
    flex-direction: row;
    /* align-content: center;
    justify-content: center; */
    
}
.i3{
    background-image: url("https://images.meesho.com/images/marketing/1726468630909_1200.webp");
}
.i3-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.i3-11{
    width:200px;
    height:80px;
    margin-left: 85px;
    margin-top:247px;
}

.i3-12{
    width:670px;
    height:400px;
    margin-left:70px;
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    /*border:1px solid white;*/
}

.i3-12-s1{
    width:210px;
    height:400px;
    /* border:1px solid white; */
    align-items: center;
    justify-content: center;
}

.i3-13{
    width:680px;
    height:50px;
    margin-left: 67px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    /* border:1px solid white; */
}

.i3-13-s2{
    width:200px;
    height:50px;
    /* border:1px solid white; */
    justify-content: center;
    align-self: center;
}

.i3-i{
   margin-left: 10px;
}

.i4{
    width:73%;
    height:500px;
    box-sizing: border-box;
    margin-left: 200px;
    margin-top: 40px;
    display:flex;
    flex-direction: row;
}
.i4{
    background-image: url("https://images.meesho.com/images/marketing/1726468665881_1200.webp");
}

.i4-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.i4-11{
    width:200px;
    height:80px;
    margin-left: 85px;
    margin-top:247px;
}

.i4-12{
    width:670px;
    height:400px;
    margin-left:73px;
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    /*border:1px solid white;*/
}

.i4-12-s1{
    width:210px;
    height:400px;
    /* border:1px solid white; */
    align-items: center;
    justify-content: center;
}

.i4-13{
    width:680px;
    height:50px;
    margin-left: 70px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    /* border:1px solid white; */
}

.i4-13-s2{
    width:200px;
    height:50px;
    /* border:1px solid white; */
    justify-content: center;
    align-self: center;
}

.i4-i{
   margin-left: 10px;
}

.i5{
    width:73%;
    height:500px;
    box-sizing: border-box;
    margin-left: 200px;
    margin-top: 40px;
    display:flex;
    flex-direction: row; 
}
.i5{
    background-image: url("https://images.meesho.com/images/pow/downloadBannerDesktop_1050.webp");
}

.corner{
    width:450px;
    height:250px;
    margin-top: 0px;
    margin-right:0px;
    margin-left: 650px;
    /* border:1px solid black; */
}

.i5-11{
    margin-top: 10px;
    margin-left: 30px;
    color:purple;
    font-size: 35px;
}
.i5-12{
    margin-left: 105px;
    color:purple;
    font-size: 35px;
}

.i5-im{
    width:380px;
    height:50px;
    margin-top: 20px;
    margin-left: 30px;
    /* border:1px solid black; */
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.i5-im-1{
    width:185px;
    height:50px;
}
.im-1{
    width:100%;
    height:100%;
}
.im-2{
    width:100%;
    height:100%;
}
.i6{
    width:73%;
    height:290px;
    box-sizing: border-box;
    margin-left: 200px;
    margin-top: 40px;
    display:flex;
    flex-direction: column;
}

.i6{
    background-image: url("https://images.meesho.com/images/pow/supplyBannerDesktop_1106.webp");
}

.i6-11{
    width:600px;
    height:200px;
    margin-top: 50px;
    /* border:1px solid white; */
    padding-left: 40px;
}
.i6-a{
    font-size: 30px;
    color:white;
}
.i6-b{
    font-size: 20px;
    color:white;
}
.i6-12{
    width:600px;
    height:25px;
    /* border:1px solid white; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    display:flex;
    flex-direction: row;
}
.i6-12-1{
    height:25px;
    color:white;
    /* border:1px solid white; */
    display:flex;
    flex-direction: row;
    padding-left: 5px;
}

.i6-13{
    width:100px;
    height:30px;
    margin-top: 30px;
}
.i6-13-btn{
    font-size: 20px;
    color:purple;
    background-color: aliceblue;
}

.i7{
    width:90%;
    height:1500px;
    box-sizing: border-box;
    margin-left: 70px;
    margin-top: 40px;
    display:flex;
    flex-direction: row;
    border:1px solid black;
}
.i7-11{
    width:23%;
    display:flex;
    flex-direction: column;
    border:1px solid black;
}
.i7-12{
    width:77%;
    display:flex;
    flex-wrap: wrap;
    border:1px solid black;
}

.sort{
    width:80%;
    height:35px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    font-size: 20px;
}

.i7-11-a{
    box-sizing:border-box;
    margin-left: 10px;
    margin-right: 5px;
    display:flex;
    flex-direction: column;
}

.i7-11-a1{
    box-sizing:border-box;
    margin-left: 10px;
    margin-right: 5px;
    display:flex;
    flex-direction: column;
}
.i7-11-b{
    box-sizing:border-box;
    margin-left: 10px;
    margin-right: 5px;
    display:flex;
    flex-direction: column;
    font-size: 15px;
    margin-top:15px;
    height:25px;
}

.sel{
    border-style:none;
    font-size: 20px;
    margin-top:15px;
}

.card{
    width:22%;
    height:320px;
    margin-left: 25px;
    margin-top:25px;
    border:1px solid black;
    display:flex;
    flex-wrap: wrap;
}
.card-img{ 
    width:160px;
    height:160px;
    margin-top: 10px;
    margin-left: 30px;
}
.card-sub{
    height:140px;
    width:100%;
    margin-top: 5px;
    border:1px solid red; 
}

.price{
    display:flex;
    flex-direction: column;
    margin-top: 0pc;
}
.price-1{
    font-size: 18px;
    margin-left: 10px;
    color:navy;
}
.free{
    font-size: 16px;
    margin-left: 10px;
    color:navy;
}
.card-sub-last{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}
.rate{
    width:60px;
    height:25px;
    margin-left: 10px;
    background-color: mediumseagreen;
    border-radius: 8px;
}
#rt{
    font-size:20px;
}
#views{
    color:darkgreen;
    font-size: 15px;
    margin-left: 15px;
}
.i7-img{
    width:12px;
    height:12px;
    margin-left: 3px;
}



.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    
    background-color: #FFFFFF;
    height:250px;
    width:400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    width:100px;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color:rgb(211, 0, 169);
}


.i8{
    width:85%;
    height:350px;
    margin-top:40px;
    margin-left: 100px;
    border:1px solid black;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.i8-1{
  width:390px;  
  margin-top: 80px;
  margin-bottom: 50px;
  /* border:1px solid black; */
}
#i8-para-1{
    font-size: 25px;
    margin-left: 20px;
    color:purple;
    /* margin-top: 100px; */
}
#i8-para-2{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 5px;
}
.i8-logo{
    width:360px;
    height:48px;
    margin-left: 20px;
    /* border:1px solid black; */
    display:flex;
    flex-direction: row;
}
.i8-im{
    width:175px;
    height:48px;
    margin-left: 0px;
    border-radius: 5px;
}


.i8-2{
  width:170px; 
  margin-top: 90px;
  margin-bottom: 50px;
  /* border:1px solid black; */
  display:flex;
  flex-direction: column;
}
.i8-2-1{
    width:100%;
    height:50px;
    margin-top: 0px;
    margin-left: 3px;
}
.i8-2-1 a{
    font-size: 18px;
}

.i8-3{
  width:200px;
  margin-top: 90px;  
  margin-bottom: 60px; 
  /* border:1px solid black; */
  display:flex;
  flex-direction: column;
}
.i8-3-1{
    width:100%;
    height:50px;
    margin-top: 0px;
    margin-left: 3px;
}
.i8-3-1 a{
    font-size: 18px;
}

.i8-4{
  width:180px;
  margin-top: 90px;  
  margin-bottom: 100px;   
  /* border:1px solid black; */
  display:flex;
  flex-direction: column;
}
.i8-4-1{
    width:100%;
    height:50px;
    margin-top: 0px;
    margin-left: 3px;
}
.i8-4-1 a{
    font-size: 20px;
}
.i8-4-img{
    width:100%;
    height:30px;
    display:flex;
    flex-direction: row;
    /* border:1px solid black; */
}
.i8-img-1{
    height:30px;
    width:25px;
    margin-left: 3px;
    /* border:1px solid black; */
}

.i8-5{
 width:250px; 
 margin-top: 45px;  
 margin-bottom: 20px; 
 /* border:1px solid black; */
}
.i8-5 p{
    margin-left: 3px;
}
.i8-5-5{
    text-decoration-color:2px solid darkgreen ;

}


.i9{
    width:85%;
    margin-left:100px;
    margin-top:20px;
    height:50px;
}
.i9-1{
   width:150px;
   height:50px;
   border:1px solid black;
   display:flex;
   flex-direction: row;

}

#hr{
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 50px;
    border-color:blue;
}